<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- bypass local-network permission check for socket reporting -->
    <key>com.apple.private.network.bypass-entitlement</key>
    <true/>
    <!-- allow loading into third-party apps -->
    <key>platform-application</key>
    <true/>
    <key>com.apple.security.network.client</key>
    <true/>
</dict>
</plist>
